{
  "openapi": "3.0.0",
  "info": {
    "title": "Backbone Price Assessment API",
    "description": "Backbone Price Assessment API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://price-assessment-api.conqore.niceshops.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://price-assessment-api.staging.backbone.datenkraft.info/v1",
      "description": "Staging server"
    },
    {
      "url": "https://localhost:30290",
      "description": "Development server"
    }
  ],
  "paths": {
    "/price": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "Get Price",
        "description": "Get Price",
        "operationId": "getPriceCollection",
        "parameters": [
          {
            "name": "filter[customerId]",
            "in": "query",
            "description": "Customer Id filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[skuCode]",
            "in": "query",
            "description": "SKU Code filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[validFrom]",
            "in": "query",
            "description": "Valid From Date filter",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPriceCollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/customer-pricing-profile": {
      "get": {
        "tags": [
          "customer-pricing-profile"
        ],
        "summary": "Query Customer Pricing Profile collection by customer ids",
        "description": "Query Customer Pricing Profile collection by customer ids",
        "operationId": "getCustomerPricingProfileCollectionEndpoint",
        "parameters": [
          {
            "name": "filter[customerIds]",
            "in": "query",
            "description": "Comma seperated list of customer ids (optional)",
            "schema": {
              "type": "string"
            },
            "example": "4cd3ad8d-8278-482a-b928-fd31dde9c78a,9118fe4f-3b89-4187-9370-dc55764b2f03"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerPricingProfileCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "customer-pricing-profile"
        ],
        "summary": "Add a new Customer Pricing Profile",
        "description": "Add a new Customer Pricing Profile",
        "operationId": "postCustomerPricingProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newCustomerPricingProfile"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/customer-pricing-profile/{customerPricingProfileId}": {
      "get": {
        "tags": [
          "customer-pricing-profile"
        ],
        "summary": "Query Customer Pricing Profile by by its id",
        "description": "Query Customer Pricing Profile by by its id",
        "operationId": "getCustomerPricingProfile",
        "parameters": [
          {
            "name": "customerPricingProfileId",
            "in": "path",
            "description": "Customer Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "customer-pricing-profile"
        ],
        "summary": "Add a new Customer Pricing Profile",
        "description": "Add a new Customer Pricing Profile",
        "operationId": "putCustomerPricingProfile",
        "parameters": [
          {
            "name": "customerPricingProfileId",
            "in": "path",
            "description": "Customer Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newCustomerPricingProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerPricingProfile"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "customer-pricing-profile"
        ],
        "summary": "Delete Customer Pricing Profile",
        "description": "Delete Customer Pricing Profile",
        "operationId": "deleteCustomerPricingProfile",
        "parameters": [
          {
            "name": "customerPricingProfileId",
            "in": "path",
            "description": "Customer Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/organization-pricing-profile": {
      "get": {
        "tags": [
          "organization-pricing-profile"
        ],
        "summary": "Query Organization Pricing Profile collection by organization ids",
        "description": "Query Organization Pricing Profile collection by organization ids",
        "operationId": "getOrganizationPricingProfileCollection",
        "parameters": [
          {
            "name": "filter[organizationIds]",
            "in": "query",
            "description": "Comma seperated list of organization ids (optional)",
            "schema": {
              "type": "string"
            },
            "example": "4cd3ad8d-8278-482a-b928-fd31dde9c78a,9118fe4f-3b89-4187-9370-dc55764b2f03"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationPricingProfileCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "organization-pricing-profile"
        ],
        "summary": "Add a new Organization Pricing Profile",
        "description": "Add a new Organization Pricing Profile",
        "operationId": "postOrganizationPricingProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newOrganizationPricingProfile"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/organization-pricing-profile/{organizationPricingProfileId}": {
      "get": {
        "tags": [
          "organization-pricing-profile"
        ],
        "summary": "Query Organization Pricing Profile by by its id",
        "description": "Query Organization Pricing Profile by by its id",
        "operationId": "getOrganizationPricingProfile",
        "parameters": [
          {
            "name": "organizationPricingProfileId",
            "in": "path",
            "description": "Organization Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "organization-pricing-profile"
        ],
        "summary": "Add a new Organization Pricing Profile",
        "description": "Add a new Organization Pricing Profile",
        "operationId": "putOrganizationPricingProfile",
        "parameters": [
          {
            "name": "organizationPricingProfileId",
            "in": "path",
            "description": "Organization Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newOrganizationPricingProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationPricingProfile"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationPricingProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "organization-pricing-profile"
        ],
        "summary": "Delete Organization Pricing Profile",
        "description": "Delete Organization Pricing Profile",
        "operationId": "deleteOrganizationPricingProfile",
        "parameters": [
          {
            "name": "organizationPricingProfileId",
            "in": "path",
            "description": "Organization Pricing Profile Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation as json",
        "description": "Get the openapi documentation as json",
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    },
    "/docs/openapi.{format}": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
        "description": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
        "operationId": "getOpenApiInFormat",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Openapi file format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "yaml",
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth/role": {
      "get": {
        "tags": [
          "auth-role"
        ],
        "summary": "Get all available roles from this resource server",
        "description": "Get all available roles from this resource server",
        "operationId": "getAuthRoleCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    },
    "/auth/role-identity": {
      "get": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Get all role to identity assignments from this resource server",
        "description": "Get all role to identity assignments from this resource server",
        "operationId": "getAuthRoleIdentityCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Create one or more role to identity assignments in this resource server",
        "description": "Create one or more role to identity assignments in this resource server",
        "operationId": "postAuthRoleIdentityCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRoleIdentityCollection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Delete one or more role to identity assignments in this resource server",
        "description": "Delete one or more role to identity assignments in this resource server",
        "operationId": "deleteAuthRoleIdentityCollection",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "errorResponse": {
        "properties": {
          "errors": {
            "description": "errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error"
            }
          }
        },
        "type": "object"
      },
      "error": {
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "description": "Code",
            "type": "string"
          },
          "message": {
            "description": "Message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "steppedPrice": {
        "required": [
          "validFromQuantity",
          "price"
        ],
        "properties": {
          "validFromQuantity": {
            "description": "Valid from Quantity",
            "type": "integer"
          },
          "price": {
            "$ref": "#/components/schemas/priceProperty"
          }
        },
        "type": "object"
      },
      "organizationPricingProfileCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/organizationPricingProfile"
        }
      },
      "organizationPricingProfile": {
        "required": [
          "organizationPricingProfileId",
          "organizationId",
          "skuCode",
          "validFrom"
        ],
        "type": "object",
        "allOf": [
          {
            "properties": {
              "organizationPricingProfileId": {
                "description": "Organization Pricing Profile Id",
                "type": "string"
              }
            },
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/newOrganizationPricingProfile"
          }
        ]
      },
      "newOrganizationPricingProfile": {
        "required": [
          "organizationId",
          "skuCode",
          "validFrom"
        ],
        "properties": {
          "organizationId": {
            "description": "Organization Id",
            "type": "string"
          },
          "skuCode": {
            "description": "SKU Code",
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/priceProperty"
          },
          "percent": {
            "description": "Percent (5 digits precision, 5 pre-decimal digits)",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "validFrom": {
            "description": "Start date from when on the price is valid",
            "type": "string",
            "format": "date-time"
          }
        },
        "type": "object"
      },
      "price": {
        "required": [
          "skuCode",
          "customerId"
        ],
        "properties": {
          "skuCode": {
            "description": "SKU Code",
            "type": "string"
          },
          "customerId": {
            "description": "Customer Id",
            "type": "string"
          },
          "price": {
            "description": "Price",
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/priceProperty"
              }
            ]
          },
          "percent": {
            "description": "Percent (5 digits precision, 5 pre-decimal digits)",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "steppedPrices": {
            "description": "Stepped Prices",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/steppedPrice"
            },
            "nullable": true
          }
        },
        "type": "object"
      },
      "getPriceCollectionResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/price"
        }
      },
      "customerPricingProfile": {
        "required": [
          "customerPricingProfileId",
          "customerId",
          "skuCode",
          "validFrom"
        ],
        "type": "object",
        "allOf": [
          {
            "properties": {
              "customerPricingProfileId": {
                "description": "Customer Pricing Profile Id",
                "type": "string"
              }
            },
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/newCustomerPricingProfile"
          }
        ]
      },
      "newCustomerPricingProfile": {
        "required": [
          "customerId",
          "skuCode",
          "validFrom"
        ],
        "properties": {
          "customerId": {
            "description": "Customer Id",
            "type": "string"
          },
          "skuCode": {
            "description": "SKU Code",
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/priceProperty"
          },
          "percent": {
            "description": "Percent (5 digits precision, 5 pre-decimal digits)",
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "validFrom": {
            "description": "Start date from when on the price is valid",
            "type": "string",
            "format": "date-time"
          }
        },
        "type": "object"
      },
      "priceProperty": {
        "required": [
          "minorMicro",
          "currency"
        ],
        "properties": {
          "minorMicro": {
            "description": "Minor Micro",
            "type": "number",
            "format": "integer",
            "nullable": true
          },
          "currency": {
            "description": "Currency",
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "customerPricingProfileCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/customerPricingProfile"
        }
      },
      "authRoleCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleResource"
        }
      },
      "authRoleResource": {
        "required": [
          "roleCode",
          "name"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getAuthPermissionCollectionResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authPermissionResource"
        }
      },
      "authPermissionResource": {
        "required": [
          "permissionCode",
          "name"
        ],
        "properties": {
          "permissionCode": {
            "description": "Permission Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authRoleIdentityResource": {
        "required": [
          "roleCode",
          "identityId"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "identityId": {
            "description": "Identity ID",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authRoleIdentityCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleIdentityResource"
        }
      }
    },
    "securitySchemes": {
      "oAuthAuthorization": {
        "type": "oauth2",
        "description": "OAuth2 Authorization",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://authentication-api.conqore.niceshops.com/oauth/token",
            "refreshUrl": "UNDEFINED",
            "scopes": {}
          }
        }
      }
    }
  }
}